/*calendar css*/
.sub_container {
    position: inherit;
    display: flex;
  }
  .sub_panel {
    position: relative;
    width: 65%;
    height: 20%;
  }
  .container .weekly {
    display: flex;
    width: 90vw;
  }
  .panel .monday {
    background-color: #ED0A3F;
  }
  .panel .tuesday {
    background-color: #FF8833;
  }
  .panel .wednesday {
    background-color: #FBE870;
  }
  /*on phone, only show 3 days at a time, 
  allowing for vert/hor scroll*/
  .panel .thursday {
    background-color: #3AA655;
  }
  .panel .friday {
    background-color: #4997D0;
  }
  /*On half-desktop and tablet, only show 5 days at a time, 
  allowing for vert/hor scroll*/
  .panel .saturday {
    background-color: #4F69C6;
  }
  .panel .sunday {
    background-color: #8359A3;
  }
  /*end calender css*/