@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

html {
    transition: all 0.5s ease-in;
    background-color: #F7FFF7;
    color: #480355;
}
html.dark {
    background-color: #480355;
    color: #F7FFF7;
}

*{
    box-sizing: border-box;
}
body{
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow:hidden;
    margin: 0;
    background: url('../images/istockphoto-95340984-612x612.jpg') no-repeat;
    background-size: cover;
    /*possible background pics: 
    rainbow waves: istockphoto-95340984-612x612.jpg
    rainbow smear: markus-spiske-k0rVudBoB4c-unsplash.jpg
    rainbow draw: v978-background-02-kpzgw7o8.jpg*/
}
/*panels all*/
.container {
    display: flex;
    width: 90vw;
}
.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    border-radius: 50px;
    color: #480355;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    width: 40%;
    box-shadow: 0 2px 10px #000000; 
}
.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}
.extralinks {
  font-size: 16px;
  opacity: 0;
}
.panel.active {
    flex: 5;
}
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
.panel.active .extralinks {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.sub_container {
  position: inherit;
  display: flex;
}
.sub_panel {
  position: relative;
  width: 65%;
  height: 20%;
}

.calendar {
/*TODO: ensure that events don't overflow container et panel in large/small screen size: 
desktop: max 6 (focus current hour et next); 
half-screen: max 3 (focus current hour); 
tablet: max 3 sed scroll 6; phone: max 2 sed scroll 6*/
}
.catalog {
  /*TODO: ensure that audiobooks don't overflow container et panel in large/small screen size: 
desktop: max 4; half-screen: max 2;
tablet: max 2 sed scroll 4 ; phone: max 2 sed scroll 4*/
}
#one {
  /*background-image: url('../assets/images/expanse5\(2\).png');*/
    /*background-color: #2AF5FF;*/
    background: radial-gradient( #13EB91 30%, #2ce272, #39E78A);
}

#two {
    /*background-image: url('../assets/images/expanse2\(2\).png');*/
    /*background-color: #3066BE;*/
    background: radial-gradient(#001A84ff, #142D92ff, #283F9Fff, #3C52ADff, #5065BBff, #6477C8ff, #788AD6ff, #8C9DE4ff);
}
#three {
    /*background-image: url('../assets/images/expanse3\(3\).png');*/
    /*background-color: #60AFFF;*/
    background: radial-gradient(#D64661ff 20%, #8F2D56);
}
#four {
    /*background-image: url('../assets/images/expanse4\(2\).png');*/
    /*background-color: #28C2FF;*/
    background: radial-gradient(#DE8400ff, #E7AA26, #F0B22D);
}
#five {
    /*background-image: url('../assets/images/expanse1\(2\).png');*/
   /* background-color: #963484;*/
   background: radial-gradient(#abc4ffff 20%, #b6ccfeff, #c1d3feff, #ccdbfdff, #d7e3fcff, #e2eafcff, #edf2fbff);
}  

/*navbar all*/ 
.navbar-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  /*.navbar {
    border: 0;
    font-size: 16px;
    background-color: #F7FFF7;
  }
  .navbar::after{
      display: block;
      position: relative;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #F7FFF7 100%);
      height: 50px;
      width: 100%;
      content: '';
  }
  .navbar-header {
      position: relative;
      float: left;
  }
  .navbar-top{
    background: rgba(0, 0, 0, 0.75);
  }
*/
/*dark toggle*/
.toggle-mode {
    cursor: pointer;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 50px;
  }
  
  .toggle-mode:focus {
    outline: none;
  }


  /*toggle all*/
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 200px;
}

.toggle {
  visibility: hidden;
}

.label {
  position: relative;
  background-color: #d0d0d0;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  margin: 0 15px 0;
  width: 80px;
  height: 40px;
}

.toggle:checked + .label {
  background-color: #8e44ad;
}

.ball {
  background: #fff;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  align-items: center;
  justify-content: center;
  animation: slideOff 0.3s linear forwards;
}

.toggle:checked + .label .ball {
  animation: slideOn 0.3s linear forwards;
}

@keyframes slideOn {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(40px) scale(1);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(40px) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
  
  @media (max-width: 480px) {
    .container {
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display:none;
    }
  }
  @media (max-width: 767px){
  .navbar-toggle{
    padding: 16px 10px;
  }
  }
  @media (min-width: 768px){
    .navbar-top{
        padding-top: 10px;
    }
  }
  @media (max-width: 800px) {
    body {
      flex-direction: column;
    }
  }