@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: scroll;
  margin: 0;
  background: url("./site-data/images/v1044-19a.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  /*possible background pics: 
  rainbow waves: istockphoto-95340984-612x612.jpg
  rainbow smear: markus-spiske-k0rVudBoB4c-unsplash.jpg
  rainbow draw: v978-background-02-kpzgw7o8.jpg
  snow red: red-background-with-snowflakes-christmas.jpg
  white geo: v748-toon-103.jpg
  polka dots: v1044-19a.jpg*/
}
#one {
  background: radial-gradient(#13eb91 30%, #2ce272, #39e78a);
}
#two {
  background: radial-gradient(#d64661ff 20%, #8f2d56);
}
#three {
  background: radial-gradient(
    #001a84ff,
    #142d92ff,
    #283f9fff,
    #3c52adff,
    #5065bbff,
    #6477c8ff,
    #788ad6ff,
    #8c9de4ff
  );
}
#four {
  background: radial-gradient(#de8400ff, #e7aa26, #f0b22d);
}
#five {
  background: radial-gradient(
    #abc4ffff 20%,
    #b6ccfeff,
    #c1d3feff,
    #ccdbfdff,
    #d7e3fcff,
    #e2eafcff,
    #edf2fbff
  );
}

.panel-body1 {
  height: 100%;
  overflow: scroll;
}
.panel-body2 {
  height: 100%;
  overflow: scroll;
}
.panel-body3 {
  height: 100%;
  overflow: scroll;
}
.panel-body4 {
  height: 100%;
  overflow: scroll;
}
.panel-body5 {
  height: 100%;
  overflow: scroll;
}

/*index->general panels css*/
.fullscreen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.activepanel {
  width: 80%;
  height: 90%;
  justify-content: space-between;
  margin-top: 30px;
}
.passivepanels {
  width: 20%;
  height: 20%;
  justify-content: space-between;
  margin-top: 30px;
}
.panel {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  color: #480355;
  cursor: pointer;
  flex: 2;
  margin: 10px;
  position: relative;
  /*transition: flex 0.7s ease-in;*/
  box-shadow: 0 2px 10px #000000;
  float: left;
}
.icon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  float: left;
  top: 50px;
  left: 20px;
  position: relative;
}
/*end general panels*/

/*index->calendar panel css*/

/*end calendar panel*/
/*general toggle css*/
.toggle-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 200px;
}
.toggle {
  visibility: hidden;
}
.label {
  position: relative;
  background-color: #d0d0d0;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  margin: 0 15px 0;
  width: 80px;
  height: 40px;
}
.toggle:checked + .label {
  background-color: lightgreen;
  /*background-color: plum;*/
}
.ball {
  background: #fff;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  align-items: center;
  justify-content: center;
  animation: slideOff 0.3s linear forwards;
}
.toggle:checked + .label .ball {
  animation: slideOn 0.3s linear forwards;
}
@keyframes slideOn {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(40px) scale(1);
  }
}
@keyframes slideOff {
  0% {
    transform: translateX(40px) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
/*end general toggle*/

/*index->automate panel css*/
.smartPanels {
  max-width: 600px;
  margin: 0 auto;
}
span {
  font-size: 20px;
}
h4 {
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
}
/*end automate panel*/

/*index->settings panel css (next to automate since uses general toggles as well*/
.settingsPanels {
  max-width: 600px;
  margin: 0 auto;
}
/*end settings panel*/

/*index->grocery panel css*/

/*end grocery panel*/

/*index->audible panel css*/
.bookList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.bookList.row {
  margin: 20px;
  padding: 20px;
}
.bookList.col {
  margin: 20px;
  padding: 20px;
}
.bookList.card {
  border-radius: 8px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 240px;
  height: 240px;
  transition: all linear 200ms;
  background-color: #efe8db;
}
.bookList.card:hover {
  transform: scale(1.1);
  transition: all linear 200ms;
  z-index: 1;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.bookList.card-img-overlay {
  position: relative;
  align-items: center;
}
.bookList.card-img-top {
  width: 200px;
  height: 200px;
  margin: 0px;
  padding: 0px;
  border-radius: 8px;
}
.bookList.card-title {
  position: absolute;
  text-align: center;
  z-index: 99;
  top: 0;
  background: #efe8db 85%;
  width: 100%;
  height: 10px;
  margin: 0px;
  padding: 10px;
  border-radius: 8px 8px 0px 0px;
}
.bookList.card-body {
  margin: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
}
.bookList.card-text {
}
/*end audible panel*/

/*sm*/
@media (max-width: 576px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
/*md*/
@media (max-width: 767px) {
  .navbar-toggle {
    padding: 16px 10px;
  }
}
/*lg*/
@media (min-width: 768px) {
  .navbar-top {
    padding-top: 10px;
  }
}
@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}

/*xsm: 0-576px*/
/*sm: 576-768px*/
/*md: 768-992px*/
/*lg: 992-1200px*/
/*xl: 1200-1400px*/
