<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
       <link rel="stylesheet" href="../css/automate.css" />
    <title>Smart Home Hub</title>
  </head>
  <body>
    <h1>My Smart Devices</h1>
    <panel class="smartPanels panel">
        <h4>Master Bedroom Light</h4>
        <div class="toggle-container">
          <span><strong>ON</strong></span>
          <input type="checkbox" id="masterBedLight" class="toggle">
          <label for="masterBedLight" class="label">
            <div class="ball"></div>
          </label>
          <span><strong>OFF</strong></span>
        </div>
      </panel>
      <panel class="smartPanels panel">
        <h4>Living Room Light</h4>
        <div class="toggle-container">
          <span><strong>ON</strong></span>
          <input type="checkbox" id="LivingRmLight" class="toggle">
          <label for="LivingRmLight" class="label">
            <div class="ball"></div>
          </label>
          <span><strong>OFF</strong></span>
        </div>
      </panel>
      <panel class="smartPanels panel">
        <h4>Television Plug</h4>
        <div class="toggle-container">
          <span><strong>ON</strong></span>
          <input type="checkbox" id="tvPlug" class="toggle">
          <label for="tvPlug" class="label">
            <div class="ball"></div>
          </label>
          <span><strong>OFF</strong></span>
        </div>
      </panel>
    <script src="../js/automate.js"></script>
  </body>
</html>
