<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/calendar.css"/>
    <title>Document</title>
</head>
<body>
    
<!--
<div class="container weekly">
<div class="panel" id="monday"></div>
<div class="panel" id="tuesday"></div>
<div class="panel" id="wednesday"></div>
on phone, only show 3 days at a time, 
allowing for vert/hor scroll
<div class="panel" id="thursday"></div>
<div class="panel" id="friday"></div>
On half-desktop and tablet, only show 5 days at a time, 
allowing for vert/hor scroll
<div class="panel" id="saturday"></div>
<div class="panel" id="sunday"></div>
include last two days on full desktop
</div>
<<div class="container daily"></div>
<div class="container monthly"></div>-->
<script src="../js/calendar.js"></script>
</body>
</html>