<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf=8">
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="../css/landing-page.css" rel="stylesheet"/>
        <title>Chaos Hub</title>
    </head>
    <body>
      <nav class="navbar navbar-top" role="navigation">
        <div class="nav-container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!--<div class="navbar-header">
              <div class="clock-container">
                <div class="clock">
                  <div class="needle hour"></div>
                  <div class="needle minute"></div>
                  <div class="needle second"></div>
                  <div class="center-point"></div>
                </div>
                <div class="time"></div>
                <div class="date"></div>
              </div>
            </div>-->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-header" id="happy header">
            I'm a header!
            </div>
            <div class="navbar-header" id="sad header">
             Me too!
            </div>
        </div>
      </nav>
      <div class="container">
        <div class="panel" draggable="true" id="zero">
          Placeholder
        </div>
        <div class="panel" draggable="true" id="one">
          <button class="toggle-mode">Dark mode</button>
            <h3>Home Automation</h3>
        </div>
        <div class="panel" draggable="true" id="two">
          <div class="toggle-container">
            <input type="checkbox" id="good" class="toggle">
            <label for="good" class="label">
              <div class="ball"></div>
            </label>
            <span>Good</span>
          </div>
          <h3>Calendar</h3>
        </div>
        <div class="panel" draggable="true" id="three">
          <h3>ToDo</h3>
        </div>
        <div class="panel" draggable="true" id="four">
          <h3>Kindle</h3>
        </div>
        <div class="panel" draggable="true" id="five">
          <h3>Audible</h3>
        </div>
      </div>
    </body>
</html>
