<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
       <link rel="stylesheet" href="../css/settings.css" />
    <title>Settings</title>
  </head>
  <body>    
    <h1>Settings</h1>
    <div class="settings-container settings">
      <div class="settings active">
        <h3 class="settings-title">
          A Setting
        </h3>
          <div class="toggle-container">
            <span><strong>ON</strong></span>
            <input type="checkbox" id="alpha" class="toggle">
            <label for="alpha" class="label">
              <div class="ball"></div>
            </label>
            <span><strong>OFF</strong></span>
          </div>
        <button class="settings-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="settings-container">
        <div class="settings active">
          <h3 class="settings-title">
            Another Setting
          </h3>
            <div class="toggle-container">
              <span><strong>ON</strong></span>
              <input type="checkbox" id="beta" class="toggle">
              <label for="beta" class="label">
                <div class="ball"></div>
              </label>
              <span><strong>OFF</strong></span>
            </div>
          <button class="settings-toggle">
            <i class="fas fa-chevron-down"></i>
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="settings-container">
          <div class="settings active">
            <h3 class="settings-title">
              Another Another Setting
            </h3>
              <div class="toggle-container">
                <span><strong>ON</strong></span>
                <input type="checkbox" id="delta" class="toggle">
                <label for="delta" class="label">
                  <div class="ball"></div>
                </label>
                <span><strong>OFF</strong></span>
              </div>
            <button class="settings-toggle">
              <i class="fas fa-chevron-down"></i>
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/settings.js"></script>
  </body>
</html>
